body {
  margin: 0;
  overflow-x: hidden;
}
.header {
  height: 93px;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.thulelogo {
  height: 93px;
  width: 12.6%;
  background: black;
  float: left;
}
.image1 {
  padding-top: 94px;
}

.logoimg {
  height: 43px;
  width: 149px;
  margin-top: 23px;
  margin-left: 19px;
}
.linkfont {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  border-collapse: collapse;
  width: 704px;
  text-align: center;
}
.headerlinks {
  width: 87.4%;
}
.headerlinks td {
  border: 0.4px solid lightgray;
  border-collapse: collapse;
}
.td1 {
  height: 30px;
}
.searchbox {
  padding-left: 50px;
  position: relative;
  left: 897px;
  top: -33px;
  border: 0.4px solid lightgray;
  /* border-collapse: collapse; */
  height: 32px;
  /* padding-left: 105px; */
}
.searchlogo {
  margin-top: -14px;
}
#searchicon {
  margin-right: 10px;
  margin-left: 124px;
}
.fa {
  margin-left: -35px;
  /* margin-bottom: 4px; */
  margin-top: 19px;
}
.searchmove {
  margin-top: -20px;
  position: absolute;
  margin-left: 150px;
}
img {
  width: 100%;
}
.image1text1 {
  height: 38px;
  width: 1482px;
  top: 484px;
  position: absolute;
  left: -12px;
}
.font1 {
  color: white;
  margin-left: 131px;
  font-size: 47px;
  letter-spacing: 0.5px;
  line-height: 4.1rem;
  font-family: Verdana, Geneva, sans-serif;
  width: 876px;
  font-weight: bold;
}
.textbox1 {
  height: 38px;
  width: 272px;
  background-color: #387ab0;
  position: relative;
  top: -130px;
  left: 123px;
}
.text3 {
  color: white;
  position: relative;
  top: 5px;
  left: 18px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text2 {
  left: 123px;
  position: relative;
  top: -148px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.product1 {
  height: 306px;
  width: 324px;
  margin-left: 123px;
  margin-top: -89px;
  position: absolute;
  background-color: white;
  border: 1px rgba(211, 211, 211, 0.437) solid;
}
.product2 {
  height: 306px;
  width: 324px;
  margin-left: 474px;
  margin-top: -89px;
  border: 1px rgba(211, 211, 211, 0.437) solid;
  position: absolute;
  background-color: white;
}
.product3 {
  height: 306px;
  width: 324px;
  margin-left: 823px;
  margin-top: -89px;
  position: absolute;
  border: 1px rgba(211, 211, 211, 0.437) solid;
  background-color: white;
}
.product4 {
  height: 306px;
  width: 324px;
  margin-left: 1173px;
  margin-top: -89px;
  position: absolute;
  border: 1px rgba(211, 211, 211, 0.437) solid;
  background-color: white;
}
.arrow {
  margin-left: 286px;
  width: 20px;
  margin-top: 13px;
}
.producttext1 {
  margin-left: 123px;
  margin-top: 236px;
  font-size: large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.producttext2 {
  margin-left: 474px;
  margin-top: -62px;
  font-size: large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.producttext3 {
  margin-left: 823px;
  margin-top: -62px;
  font-size: large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.producttext4 {
  margin-left: 1173px;
  margin-top: -62px;
  font-size: large;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tex1 {
  margin-left: 123px;
  margin-top: -30px;
  position: relative;
  top: -12px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tex2 {
  margin-left: 474px;
  margin-top: -30px;
  position: relative;
  top: -12px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tex3 {
  margin-left: 823px;
  margin-top: -30px;
  position: relative;
  top: -12px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tex4 {
  margin-left: 1175px;
  margin-top: -30px;
  position: relative;
  top: -12px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img2z {
  margin-top: 56px;
  height: 508px;
  width: 1275px;
  margin-left: 128px;
  margin-right: 128px;
}
.img2box {
  width: 509px;
  height: 189px;
  background-color: #f7f7f7;
  margin-left: 895px;
  margin-top: -377px;
  position: absolute;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.h1txt {
  margin-left: 40px;
  margin-top: 43px;
}
.h5txt {
  font: size 15px;

  margin-left: 42px;
  margin-top: -31px;
}
.button {
  background-color: #3e3e3e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f7f7f7;
  height: 37px;
  width: 137px;
  margin-left: 44px;
  border: #3e3e3e;
}
.what {
  text-align: center;
  margin-top: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.products2 {
  height: 510px;
  width: 100%;
  margin-top: 28px;
  background-color: white;
}
.txt3 {
  height: 145px;
  background-color: white;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img3 {
  background-color: red;
  width: 608px;
  height: 412px;
  margin-left: 143px;
  float: left;
}
.img4 {
  background-color: rgb(0, 17, 255);
  width: 608px;
  height: 412px;
  margin-left: 32px;
  float: left;
}
.products1 {
  height: 509px;
  margin-left: 128px;
  width: 398px;
  background-color: white;
  float: left;
}
.primg1 {
  height: 273px;
  width: 398px;
}
.prtext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.prstext {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gobutton {
  background-color: #3e3e3e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f7f7f7;
  height: 37px;
  width: 164px;

  border: #3e3e3e;
  text-align: center;
  font-size: medium;
}
.products12 {
  height: 509px;
  margin-left: 34px;
  width: 398px;
  background-color: white;
  float: left;
}
.products13 {
  height: 509px;
  margin-left: 34px;
  width: 398px;
  background-color: white;
  float: left;
}
.txt3h1 {
  padding-top: 48px;
}
.stroller {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  margin-top: -82px;
  margin-left: 17px;
  color: white;
}
.Shopnow {
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #387ab0;
  margin-left: 19px;
  position: relative;
  top: -52px;
}
.stroller2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  margin-top: -120px;
  margin-left: 662px;
  color: white;
}
.Shopnow2 {
  font-weight: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #387ab0;
  margin-left: 664px;
  position: absolute;
  margin-top: -95px;
}
.def {
  width: 1275px;
  height: 509px;
  margin-left: 128px;
  background-color: #387ab0;
}
.imaginary {
  width: 100%;
  height: 450px;
  background-color: white;
}
.defbox {
  height: 260px;
  width: 507px;
  position: absolute;
  background-color: #f7f7f7;
  top: 3055px;
  margin-left: -125px;
}
.explore {
  margin-left: 162px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 35px;
  word-spacing: 5px;
}
.adv {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 160px;
  text-align: left;
}
.final {
  background-color: #3e3e3e;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f7f7f7;
  height: 37px;
  width: 137px;
  margin-left: 157px;
  border: #3e3e3e;
}
.inspire {
  width: 100%;
  height: 174px;
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.inspiretxt {
  margin-top: 1px;
  padding-top: 73px;
}
.gridimg {
  background-color: white;
  height: 1192px;
  width: 1522px;
  left: 4px;
}
.explthule {
  height: 438px;
  width: 1533px;
  background-color: white;
}
.footer {
  width: 100%;
  height: 265px;
  margin-top: 113px;
  background-color: lightgray;
}
.end {
  height: 349px;
  background-color: white;
}
.imgg1 {
  width: 378px;
  height: 375px;
  margin-left: 12px;
  float: left;
}
.fimage {
  width: 616px;
  height: 412px;
  margin-left: 128px;
  margin-top: 16px;
  float: left;
  padding-left: 10px;
}
.fimage1 {
  width: 616px;
  height: 412px;
  margin-left: 128px;
  margin-top: 16px;
  float: left;
  position: relative;
  left: -99px;
}
.scrn {
  width: 216px;
  height: 131px;
  text-align: center;
  margin-left: 659px;
  margin-top: 10px;
  padding-top: 10px;
  position: relative;
  top: -64px;
  background-color: white;
}
.list {
  float: left;
}
.list1 {
  float: left;
}
.list2 {
  float: left;
}
.list3 {
  float: left;
}
.footer ul {
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer li {
  margin-left: 102px;
  padding-top: 10px;
}
.img1 {
  width: 378px;
  height: 428px;
}
.sizofimg {
  margin-left: 5px;
  height: 375px;
  width: 374px;
  float: left;
  overflow: hidden;
}
.img2 {
  width: 378px;
  height: 428px;
}
